absl-py==2.1.0
acres==0.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
alembic==1.14.0
antlr4-python3-runtime==4.9.3
anyio==4.6.2.post1
appdirs==1.4.4
argcomplete==3.5.0
asgiref==3.8.1
astor==0.8.1
astropy==6.1.3
astropy-iers-data==0.2024.9.23.0.31.43
asttokens==2.4.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==24.2.0
auth0-python==4.7.2
Authlib==1.3.1
backoff==2.2.1
bcrypt==4.2.1
bidict==0.23.1
blinker==1.9.0
boto3==1.35.20
botocore==1.35.20
Brotli==1.1.0
build==1.2.2.post1
captcha==0.6.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
ci-info==0.3.0
cohere==5.13.8
coloredlogs==15.0.1
comm==0.2.2
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
crewai==0.95.0
crewai-tools==0.25.8
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
dacite==1.8.1
data-processing==0.1.4
dataclasses-json==0.6.7
debugpy==1.8.7
decorator==4.4.2
Deprecated==1.2.14
deprecation==2.1.0
dnspython==2.6.1
docker==7.1.0
docstring_parser==0.16
docx==0.2.4
docx2txt==0.8
duckdb==1.1.3
durationpy==0.9
email_validator==2.2.0
embedchain==0.1.126
etelemetry==0.3.1
eventkit==1.0.3
executing==2.1.0
extra-streamlit-components==0.1.71
faiss-cpu==1.8.0.post1
fastapi==0.115.6
fastapi-cli==0.0.6
fastavro==1.10.0
fiftyone==0.25.1
fiftyone-brain==0.17.0
fiftyone_db==1.1.5
fitz==0.0.1.dev2
Flask==3.1.0
Flask-Cors==5.0.0
Flask-SocketIO==5.5.1
flatbuffers==24.3.25
fonttools==4.54.1
ftfy==6.2.3
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.6.0
glob2==0.7
google-api-core==2.24.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.76.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gptcache==0.1.44
graphql-core==3.2.4
groq==0.15.0
grpc-google-iam-v1==0.14.0
grpcio==1.69.0
grpcio-health-checking==1.69.0
grpcio-status==1.69.0
grpcio-tools==1.69.0
gspread==5.12.4
gspread-dataframe==4.0.0
gspread-formatting==1.2.0
gspread-pandas==3.3.0
h2==4.1.0
h5py==3.12.1
heartpy==1.2.7
hpack==4.0.0
hrv-analysis==1.0.4
htmlmin==0.1.12
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.25.1
humanfriendly==10.0
humanize==4.10.0
hydra-core==1.3.2
Hypercorn==0.17.3
hyperframe==6.0.1
ib-insync==0.9.86
idna==3.10
ijson==3.3.0
ImageHash==4.3.1
imageio-ffmpeg==0.5.1
importlib_resources==6.5.2
inflate64==1.0.0
instructor==1.7.2
iopath==0.1.9
ipykernel==6.29.5
ipython==8.28.0
isodate==0.6.1
jedi==0.19.1
jiter==0.8.0
json_repair==0.35.0
jsonlines==4.0.0
jsonpickle==4.0.1
jsonpointer==2.1
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.
kaleido==0.2.1
keras==3.6.0
keras-tuner==1.4.7
kiwisolver==1.4.7
kt-legacy==1.0.5
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.14
langchain-cohere==0.3.4
langchain-community==0.3.14
langchain-core==0.3.29
langchain-experimental==0.3.4
langchain-groq==0.2.3
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langsmith==0.1.147
libclang==18.1.1
linkup-sdk==0.2.2
litellm==1.57.2
looseversion==1.3.0
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
markdown-pdf==1.3.3
MarkupSafe==3.0.1
marshmallow==3.24.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mem0ai==0.1.4
MetaTrader5==5.0.4424
mkl-service==2.4.0
ml-dtypes==0.4.1
mmh3==5.0.1
mongoengine==0.24.2
monotonic==1.6
motor==3.5.1
moviepy==1.0.
multimethod==1.12
multivolumefile==0.2.3
mutagen==1.47.0
namex==0.0.8
nbformat==5.10.4
neurokit2==0.2.10
nibabel==5.3.2
nipype==1.9.2
nodeenv==1.9.1
nolds==0.6.0
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.20.1
openai==1.59.4
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.13
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.3
parameterized==0.9.0
parso==0.8.4
pathlib==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.5
PeakUtils==1.3.5
phik==0.12.4
pillow==10.4.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
polygon==1.2.5
polygon-api-client==1.14.2
portalocker==2.10.1
posthog==3.7.5
pprintpp==0.4.0
priority==2.0.0
proglog==0.1.10
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
prov==2.0.1
psutil==6.0.0
psycopg2==2.9.10
pure_eval==0.2.3
puremagic==1.28
py7zr==0.22.0
pyasn1-modules==0.2.8
pybcj==1.0.2
pycocotools==2.0.8
pycryptodomex==3.20.0
pycurl==7.45.2
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydash==8.0.3
pydot==3.0.4
pydub==0.25.1
Pygments==2.18.0
pylance==0.22.0
pyls-spyder==0.4.0
pymongo==4.8.0
PyMuPDF==1.24.6
PyMuPDFb==1.24.6
pyparsing==3.2.0
pypdf==5.1.0
pypdfium2==4.30.1
PyPika==0.48.9
pyppmd==1.1.0
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
pyright==1.1.391
pysbd==0.3.4
pytest==8.3.4
python-dotenv==1.0.1
python-engineio==4.11.2
python-multipart==0.0.19
python-socketio==5.12.1
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pywin32==308
pyxnat==1.6.2
pyzmq==26.2.0
pyzstd==0.16.1
qdrant-client==1.12.2
rarfile==4.2
rdflib==6.3.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.9.2
rich-toolkit==0.12.0
rpds-py==0.21.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
schedule==1.2.2
schema==0.7.7
scikit-learn==1.5.2
scipy==1.14.1
scrapegraph_py==1.9.0
selenium==4.27.1
sentence-transformers==3.1.1
serpapi==0.1.5
setuptools==75.4.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.19.3
sniffio==1.3.1
soundfile==0.12.1
SpeechRecognition==3.10.4
spider-client==0.1.25
sql_metadata==2.15.0
SQLAlchemy==2.0.37
sqlparse==0.5.3
sse-starlette==0.10.3
sseclient-py==1.8.0
st-gsheets-connection==0.1.0
stack-data==0.6.3
starlette==0.41.3
strawberry-graphql==0.138.1
streamlit==1.41.0
streamlit-authenticator==0.4.1
ta==0.11.0
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.5.0
texttable==1.7.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
tomli==2.2.1
tomli_w==1.1.0
torch==2.4.1
traits==6.4.3
transformers==4.44.2
trio==0.28.0
trio-websocket==0.11.1
typeguard==4.3.0
typer==0.15.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
universal-analytics-python3==1.1.1
urllib3==2.2.3
utils==1.0.2
uv==0.5.15
uvicorn==0.32.1
validators==0.34.0
visions==0.7.6
voxel51-eta==0.12.7
watchfiles==1.0.3
wcwidth==0.2.13
weaviate-client==4.10.4
websockets==12.0
Werkzeug==3.1.3
wfdb==4.1.2
wheel==0.45.0
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.13.0
yacs==0.1.8
yarl==1.18.3
ydata-profiling==4.10.0
yt-dlp==2024.8.6
